.mainContainer{
    width: 100%;
}
.container{
    width: 60%;
    padding: 2% 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-weight: bold;
}

.links{
    display: flex;
    align-items: center;
    gap: 20px;
}

.link:hover{
    color: red;
    transform: scale(1.1);
}

@media screen and (max-width: 768px) {
    .container{
        display: flex;
        flex-direction: column;
    }

    .links{
        font-size: 12px;
        gap: 30px;
    }

    .logo{
        margin-bottom: 10%;
    }
}