.container{
    width: 50%;
    padding: 2% 25%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.desc{
    line-height: 30px;
    margin-bottom: 2%;
}

.list{
    margin-bottom: 2%;
}
.list2{
    padding: 2% 15%;
}

.desc2{
    margin-top: 2%;
    line-height: 30px;
    margin-bottom: 2%;

}

.link{
    color: rgb(71, 71, 172);
    text-decoration: underline;
}
