
.firstContainer, .thirdContainer, .fourthContainer{
    width: 79%;
    padding: 2% 10%;
   

}

.mainHeadings{
    text-align: center;
}

.formDiv{
    display: flex;
    width: 80%;
    margin-top: 5%;
    gap: 10%;
    padding: 2% 10%;

}
.form{
    width: 25%;
    background-color: white;
    color: black;
    padding: 2% 5%;
    border-radius: 25px;
}
.desc{
    width: 40%;
    padding: 0 5%;
}

.input{
    width: 80%;
    padding: 4%;
}

.policies{
    color: blue;
}

.button{
    padding: 4%;
    background-color: #61CE70;
    color: white;
    border-radius: 15px;
    font-size: 18px;
    outline: none;
    border: none;
    margin-top: 10%;
    margin-bottom: 5%;
}

.button:hover{
    background-color: #03D99D;
}

.list{
    line-height: 30px;
}

.title{
    word-spacing: 10px;
}

.artificial{
    display: flex;
    width: 80%;
    margin-top: 5%;
    gap: 10%;
    padding: 0 10%;

}


.mainContent{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content1{
    padding: 2% 0%;
}

.heading1{
    text-align: center;
    margin-bottom: 2%;
}

.image{
    margin-right: 3%;
}

.image1{
    margin: auto;
}

.secContainer{
    background-color: white;
    color: black;
    width: 100%;
    padding: 3% 0;
}

.mainDiv{
    width: 90%;
    display: flex;
    padding: 0 10%;
    gap: 10%;
}

.heading{
    text-align: center;
    margin-bottom: 5%;
}

.inner1{
    width: 40%;
    line-height: 30px;
    padding: 3% 5%;
}

.inner2{
    width: 40%;
    line-height: 30px;
    padding: 3% 0%;
}

.secondContainer{
    background-color: white;
    color: black;
    width: 100%;
    padding: 3% 0;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.certifications{
    margin-top: 2%;
}

.imageContainer{
    display: flex;
    gap: 3%;
}

@media screen and (max-width:768px) {
    .firstContainer, .thirdContainer, .fourthContainer{
    width: 89%;
    padding: 2% 5%;
    }
    .formDiv{
        display: flex;
        flex-direction: column;
    }
    .form{
        width: 90%;
        padding: 5% 10%;
    }

    .desc{
        margin-top: 10%;
        width: 100%;
        margin-bottom: 10%;
    }
    .title{
        margin-bottom: 5%;
        font-size: 16px;
    }
    .artificial{
        width: 90%;
        display: flex;
        flex-direction: column;
    }
    .content1{
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 15%;
    }
    .ai{
        font-size: 20px;
        margin-bottom: 5%;
    }
    .image2{
        display: none;
    }
    .image3{
        width: 250px;
        height: 300px;
        margin-bottom: 15%;
    }
    .heading1{
        font-size: 18px;
    }
    .carrosel{
        width: 100px;
        height: 100px;
    }
    .mainHeadings{
        margin-top: 10%;
        font-size: 22px;
    }
    .mainDiv{
        display: flex;
        flex-direction: column;
    }
    .inner1{
        width: 90%;
    }
    .hideImage{
        display: none;
    }
    .imageContainer{
        display: flex;
        flex-direction: column;
    }
    .fourthContainer{
    }
    
    .hide2{
        display: none;
    }
    .heading{
        font-size: 20px;
    }
    .firstHeading{
        font-size: 25px;
        margin-bottom: 10%;
    }
    .secHeading{
        font-size: 18px;
    }
}